@font-face{
	font-family: helvetica-neue;
	src:url(../fonts/HelveticaNeue-Thin.otf);
}

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
	font-family: 'lato', 'open sans', sans-serif;
	font-size: 18px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/Letterlesercoverlow.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color:#242424;
}

/* NAV BAR STYLE */
.main-nav {
	background-color: transparent;
	z-index: 11;
	position:fixed;
	top:0px;
	height: 60px;
	width:100%;
	justify-content: center;
	align-items:center;
	display:flex;
}

#navigation {
	transition: 0.4s;
}

.navigation-a {
	transition: 0.4s;
}

.scrolled-nav {
	background-color: #242424;
	box-shadow: 0px 3px 1rem rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 3px 1rem rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolled-nav .navbar a {
	color:#FEFEFE
}


.navbar{
	margin:0;
	display:flex;
	justify-content: space-between;
	width:40%;
	align-items: center;
	font-size: 1.1em;
}

.navbar li {
	margin:0;
	list-style: none;
}

.navbar a {
	margin:0;
	font-weight: 700;
	color: #FEFEFE;
	text-decoration: none;
	transition: all 0.4s ease 0s;
}

.navbar a:hover, .navbar a:focus {
	color:#1AA84C;
}

/*MAIN SHOWCASE STYLE*/
.project-cover {
	width:100%;
	height:100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1*/
   	-moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
}

#cover-text {
	display: flex;
	align-items:center;
	flex-direction: column;
}

#cover-text h1 {
	font-family: 'helvetica-neue', sans-serif;
	font-size: 4em;
	font-weight: 300;	
	margin:0;
	text-align: center;
	color:#FEFEFE;
}

.green {
	color: #1AA84C;
}

#cover-text p {
	width:60%;
	color:#FEFEFE;
	font-size: 18px;
	line-height: 1.8em;
	text-align: center;
}

/*Scroll animation*/ 

.scroll{
    width: 30px;
    height: 50px;
    position: relative;
    top: 10%;
    cursor: pointer;
}

.scroll .mouse{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 2px solid #FEFEFE;
    border-radius: 20px;
}

.scroll .wheel{
    width: 4px;
    height: 7px;
    top: 10px;
    left: 50%;
    position: absolute;
    background: #FEFEFE;
    display: block;
    border-radius: 50%;
    margin-left: -2px;
    animation-name: scroll-wheel;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}


/*CONTAINER CLASS*/

.container {
	width:60%;
	margin:auto;
	overflow: hidden;
}

/*PROJECT SECTIONS*/

.project-full {
	background-color: #F6F6F6;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

.project-section {
	margin-bottom: 100px;
	padding-top: 50px;
	padding-bottom:50px;
	background-color: #FEFEFE;
	position:relative;
	border-radius: 40px;
	width:70%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.last {
	margin-bottom: 0;
}

/*TEXT STYLING*/

.project-section h2 {
	font-family: helvetica-neue;
	font-size: 2.5em;
	margin-bottom: 50px;
	margin-top: 20px;
}

.project-section p {
	line-height: 1.8em;
	width:100%;
	margin: auto;
	font-size: 1em;
	margin-bottom: 20px;
}

.image-space-1 p, .image-space-1-sm p, .image-space-2 p, .image-space-2-cap p, .image-space-3 p, .image-space-3-cap p {
	text-align: center;
	font-size: 0.9rem;
	font-style: italic;
	margin:left:auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 0px;
}

.bold {
	font-weight: bold;
}

.project-section p a {
	padding-bottom: 2px;
	border-bottom: 2px solid #1AA84C;
	text-decoration: none;
	color:#242424;
	transition: all 0.4s ease 0s;
}

.project-section p a:hover, .project-section p a:focus {
	padding-bottom: 2px;
	border-bottom: 2px solid #1AA84C;
	text-decoration: none;
	color:#1AA84C;
}

/*IMAGE STYLING*/

img {
	-webkit-transition: all .65s;
    -o-transition: all .65s;
    transition: all .65s;
}

img:hover, img:focus {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.image-space-1 img, .image-space-1-sm img, .image-space-2 img, .image-space-2-cap img, .image-space-3 img, .image-space-3-cap img {
	box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
}

/*Single image*/
.image-space-1 {
	margin-bottom: 40px;
	margin-top: 40px;
}

.image-space-1 .project-image {
	width:70%;
	margin-right: auto;
	margin-left: auto;
}

.image-space-1 .project-image img {
	width:100%;
}

.image-space-1-sm {
	margin-bottom: 40px;
	margin-top: 40px;
}

.image-space-1-sm .project-image {
	max-width:50%;
	margin-right: auto;
	margin-left: auto;
}

.image-space-1-sm .project-image img {
	width:100%;
}

/*Double image*/

.image-space-2-cap {
	display:flex;
	align-items: stretch;
	justify-content: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

.image-space-2-cap .project-image {
	max-width:45%;
	margin-right: auto;
	margin-left: auto;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.image-space-2-cap .project-image img {
	width:100%;
}

/*Double image - single caption*/

.image-space-2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.image-space-2 .images {
	display:flex;
	align-items: center;
	justify-content: center;
}

.image-space-2 .project-image {
	max-width:45%;
	margin-right: auto;
	margin-left: auto;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.image-space-2 .project-image img {
	width:100%;
}

/*Triple image*/

.image-space-3 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.image-space-3 .images {
	display:flex;
	align-items: center;
	justify-content: center;
}

.image-space-3 .project-image {
	max-width:29%;
	margin-right: auto;
	margin-left: auto;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.image-space-3 .project-image img {
	width:100%;
}


/* FOOTER STYLE */
.main-footer {
	color: #FEFEFE; 
	position:relative;
	height: 400px;
	background-color: #242424;
}

.footer-connect {
	height: 230px;
	display:flex;
	flex-direction: column; 
	justify-content: space-around;
	align-items: center;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.footer-connect a, .footer-connect h1 {
	margin:0;
}

.footer-connect h1 {
	font-family: helvetica-neue;
	font-size: 3em;
}

.footer-connect a {
	text-decoration: none;
	color: #FEFEFE; 
	margin-right: 20px;
	margin-left: 20px;
	transition: all 0.4s ease 0s;
}

.footer-connect a:hover, .footer-connect a:focus {
	color:#1AA84C;
}

.social-links {
	display:flex;
	font-size: 4em;
}

.footer-copyright {
	margin:none;
	position:absolute;
	top:95%;
	right:5%;
	-webkit-transform: translate(-5%, -95%);
	-ms-transform: translate(-5%, -95%);
	transform: translate(-5%, -95%)
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 900px) {
	
	.navbar{
		width: 80%;
	}

	.container {
		width:85%;
	}

	.project-section {
		width: 90%;
	}

	/*IMAGE STYLING*/

	.image-space-1 .project-image {
		width:90%;
	}

	.image-space-2-cap {
		flex-direction: column;
	}

	.image-space-2-cap .project-image {
		max-width:90%;
		margin-bottom: 50px;
	}

	.image-space-2 .images {
		flex-direction: column;
	}

	.image-space-2 .project-image {
		margin-bottom: 40px;
		max-width: 90%
	}

	.image-space-2 p{
		margin-top: 0;
	}

	.image-space-3 .images {
		flex-direction: column;
	}

	.image-space-3 .project-image {
		margin-bottom: 40px;
		max-width: 90%;
	}

	.image-space-3 p{
		margin-top: 0;
	}

	.image-space-1-sm .project-image {
		max-width:90%;
	}

	#cover-text p {
		width:100%;
	}

}

@media only screen and (max-width: 750px) {

	#cover-text h1 {
		font-size: 3.3em;
	}

	.project-section h2 {
		text-align: center;
	}

	ol {
		column-count: 1;
		width: 95%;
		margin: 40px auto;
	}

	.footer-connect h1 {
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 470px) {

	body {
		font-size: 16px;
	}

	.navbar{
		width: 90%;
	}

	#cover-text h1 {
		font-size: 2.4em;
	}

	#cover-text p {
		font-size: 16px;
	}

	.project-section h2 {
		font-size: 2em;
	}

	.footer-copyright {
		text-align: center;
		margin:none;
		position:absolute;
		width:100%;
		top:95%;
		left:50%;
		-webkit-transform: translate(-50%, -95%);
		-ms-transform: translate(-50%, -95%);
		transform: translate(-50%, -95%)
	}

	.project-section {
		padding-top: 30px;
		padding-bottom:30px;
		margin-bottom: 50px;
	}

	.project-full {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.scroll {
	    width: 25px;
	    height: 42px;
	}
}

@media (hover: none) {
	body {
		background-image:none;
	}

	.project-cover {
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/Letterlesercoverlow.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
